/*********************
*******Wrapper*********
**********************/
body {
    @include background-gradient();
    font-family: 'Montserrat', sans-serif;
}
#wrapper {
    max-width: 1170px;
    margin: 0 auto;
}
.width {
    width: 100%
}
.space-bottom {
    margin-bottom: 180px;
}
/*********************
*******header*********
**********************/
#menu-header {
    margin-top: 180px;
}
#menu-header>.menu {
    float: right;
}

/*********************
*********Title********
**********************/
#title-head {
    font-size: 8em;
    margin: 0;
}
#title-text {
    font-size: 0.8em;
    margin: 0;
    color: #aeadae;
}
